:root {
  --body-bg: #096262;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--body-bg);
  color:var( --body-bg);
}

h1{
  font-size: 30px;
  margin-bottom: 20px;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 30px 20px;
}



